body {
    font-family: "Ubuntu Light", helvetica, sans-serif;
    width: 960px;
    margin: 3em auto;
}

h1 {
  font-family: 'Kelly Slab', cursive;
  color: #9e9658
}

a {
  color: #9e9658;
  text-decoration: none;
}

.retired {
  color: red
}

hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
